/* Estilos globales */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
    color: #333;
  }
  
  h1, h2, h3 {
    font-weight: bold;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  /* Estilos de la cabecera */
  
  header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
  }
  
  nav ul {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav li:last-child {
    margin-right: 0;
  }
  
  nav a {
    padding: 10px;
    border-radius: 5px;
  }
  
  nav a:hover {
    background-color: #333;
    color: #fff;
  }
  
  h1 {
    margin-top: 0;
  }
  
  /* Estilos del contenido principal */
  
  main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  section {
    margin-bottom: 40px;
  }
  
  section h2 {
    margin-bottom: 20px;
  }
  
  article {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  article h3 {
    margin-top: 0;
  }
  
  /* Estilos del pie de página */
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  footer nav ul {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  footer li {
    margin-right: 20px;
  }
  
  footer li:last-child {
    margin-right: 0;
  }
  
  footer a {
    color: #fff;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  